{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Antecipations</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Antecipation Date</th>
        <th>New Value</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for antecipation in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ antecipation.req_antecipation.payment.description }}</td>
        <td>{{ antecipation.req_antecipation.request_date|date:"d/m/Y" }}</td>
        <td>{{ antecipation.new_value }}</td>
        <td>{{ antecipation.created|date:"d/m/Y" }}</td>
      </tr>
      {% empty %}
        No antecipation available.
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}